@font-face
{
font-family: "Arcade";
src: url('fonts/ARCADECLASSIC.TTF');    
}

@font-face
{
font-family: "Karmatic";
src: url('fonts/ka1.ttf');    
}

@font-face
{
font-family: "Game Power";
src: url('fonts/game_power.ttf');    
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set you're content font stack here: 
    font-family: Georgia, Times, "Times New Roman", serif;*/
}

/***Other button styles***/
		.pure-button-success,
        .pure-button-error,
        .pure-button-warning,
        .pure-button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .pure-button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .pure-button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .pure-button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .pure-button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

/****/
.fixed {position: fixed;}
.cyan-styled{color:#00aeef;}

 a .no-decoration{text-decoration:none;}
 
 .press-start {font-family: 'Press Start 2P', cursive;}
 .electrolize{ font-family: 'Electrolize', sans-serif; }
 
 .img-logo{
 	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.5);
 	
 	border-color:#CCCCCC;
 	border:3px solid;
 	
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
 }
 
 .rotate-45{
 	-ms-transform:rotate(330deg); /* IE 9 */
	  -moz-transform:rotate(330deg); /* Firefox */
	  -webkit-transform:rotate(330deg); /* Safari and Chrome */
	  -o-transform:rotate(330deg); /* Opera */
 }
 
 .menu-box{
 	width: 90%
 	min-height: 20px;
 	max-height: 50px;
 	/*background-color:#0E3D4E;*/
 }

.pad-left-10{padding-left:10%}

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
   padding-left: 2em;
   background: #00aeef;
}

.footer{
	background: black;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

.button-like
{
	background-color: #00aeef;
    color: #000405;
}

/**Vertical align**/
.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/**shapes**/

.brand-cover-box{
	height: 50px;
	width: 0;
	border-left: 100px solid green;
	border-top: 100px solid green;
	border-bottom: 60px solid transparent;
}

.burst-8 {
    background:orange;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20eg);
}

.burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: orange;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}

	