@font-face
{
font-family: "Arcade";
src: url('fonts/ARCADECLASSIC.TTF');    
}

@font-face
{
font-family: "Karmatic";
src: url('fonts/ka1.ttf');    
}

@font-face
{
font-family: "Game Power";
src: url('fonts/game_power.ttf');    
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set you're content font stack here: 
    font-family: Georgia, Times, "Times New Roman", serif;*/
}

/***Other button styles***/
		.pure-button-success,
        .pure-button-error,
        .pure-button-warning,
        .pure-button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .pure-button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .pure-button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .pure-button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .pure-button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

/****/

.cyan-styled{color:#00aeef;}

 a .no-decoration{text-decoration:none;}
 
 .press-start {font-family: 'Press Start 2P', cursive;}
 .electrolize{ font-family: 'Electrolize', sans-serif; }

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
   padding-left: 2em;
   background: #00aeef;
}

.footer{
	background: black;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

.button-like
{
	background-color: #00aeef;
    color: #000405;
}

/**Vertical align**/
.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}